<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    @Html.ActionLink("Car Rental Company", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto nav">
            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "About", "Home")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Contact", "Contact", "Home")
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>
